/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* { outline: 1px solid red; }

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex Mono', monospace;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--backgroung-path);
  background-color: var(--page-background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  color: var(--accent-font-color);
  font-size: var(--font-size);
  gap: 3em;
}

.decor-element {
  display: var(--decor_elem_display);
  position: absolute; 
  top: var(--common-padding); 
  right: var(--common-padding); 
  padding-right: 0.5em;
}

.decor-element::after {
    content: "";
    display: var(--decor_elem_display);
    margin-left: 0.1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%; /* This creates the ellipse shape */
    background-color: var(--accent-font-color); /* Background color of the ellipse */
    box-shadow: 0px 0px 4px 2px var(--accent-font-color);
    margin-bottom: 0.1em;
}

.decorated-zone::before {
  content: "";
  display: inline-block;
  border-top: 1px solid var(--accent-font-color);
  border-right: 1px solid var(--accent-font-color);
  position: absolute;
  width: 1em;
  height: 1em;
  margin-right: var(--common-padding);
  margin-top: var(--common-padding);
  top: 0;
  right: 0;
}

.accent__title {
  color: var(--header-color);
}

.title-decor {
  color: var(--font-color);
  background-color: var(--accent-text_background-color);
  margin-left: var(--common-padding);
  margin-right: var(--common-padding);
  height: fit-content;
  font-size: var(--font-size);
  font-weight: bold;
  max-width: 100%; 
}

.main__section-title {
  color: var(--accent-font-color);
}

.main__section-text {
  color: var(--section-font-color);
}

.main {
  display: grid;
  gap: 5em;
}

.main__section-link {
  text-shadow: 0.1em 0.1em 0 var(--header-shadow);
  text-decoration: none;
}


.decorated-zone {
  min-width: 375px;
  position: relative;
  width: 100%;
  height: 100vh;
}

.decorated-zone::after {
  content: "";
  border-bottom: 1px solid var(--accent-font-color);
  border-left: 1px solid var(--accent-font-color);
  position: absolute;
  width: 1em;
  height: 1em;
  bottom: 0;
  left: 0;
  margin-left: var(--common-padding);
  margin-bottom: var(--common-padding);
}

.header__theme-menu {
  display: flex;
  justify-content: right;
  align-items: end;
  grid-row: 1;
  padding-right: var(--common-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
}

.decorated-zone::before {
  content: "";
  display: inline-block;
  border-top: 1px solid var(--accent-font-color);
  border-right: 1px solid var(--accent-font-color);
  position: absolute;
  width: 1em;
  height: 1em;
  margin-right: var(--common-padding);
  margin-top: var(--common-padding);
  top: 0;
  right: 0;
}

.accent__title {
  font-weight: bold;
  line-height: 0.9em;
  font-size: var(--font-title-size);
  text-shadow: 0.03em 0.03em 0 var(--header-shadow); /* horizontal offset, vertical offset, blur radius, shadow color */
}

.main__section {
  display: grid;
  gap: 1em;
}

.main__section-title {
  font-size: var(--font-size);
  font-weight: bold;
  padding-left: var(--common-padding);
  padding-right: var(--common-padding);
}

.main__subsection {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.main__section-text { 
  font-size: var(--font-size);
  padding-left: var(--common-padding);
  padding-right: var(--common-padding);
}

.main__image-set {
  display: grid;
  /* grid-template-rows: repeat(5, 1fr); */
  gap: 10px;
  overflow: hidden;
}

.main__image-set__item {
  padding-left: var(--common-padding);
  padding-right: var(--common-padding);
}

.main__image-set__item__image {
  width: 100%; 
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-font-color);
  pointer-events: none;
}

@media (min-width: 768px) {
  .accent__title {
    display: flex;
    align-self: center;
  }

  .header .title-decor {
    display: flex;
    justify-self: end;
    flex-direction: column;
    max-width: 50%;
  }

  .main__section:nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  
  .main__section:nth-child(odd) .main__section-title {
    grid-column: 1;
  }

  .main__section:nth-child(odd) .main__subsection {
    grid-column: 2;
  }
  
  .main__section:last-child .main__subsection:last-child {
    grid-column: span 3;
  }

  .main__image-set {
    padding: var(--common-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: clamp(48rem, 0rem + 100vi, 64rem);
  }

  .main__image-set__item__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .main__image-set__item__image--sunset {
    grid-column: span 2;
  }
  .main__image-set__item__image--icecream {
    grid-row: span 2;
  }
  .main__image-set__item__image--tape {
    grid-row: span 2;
  }
  .main__image-set__item__image--street {
    grid-column: span 2;
  }
}



@media (min-width: 1024px) {
  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-row: 1;
    padding-right: var(--common-padding);
  }
  
  .header__theme-menu-list {
    padding-top: var(--common-padding);
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .main__section:nth-child(even) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, auto;
  }

  .main__section:nth-child(even) .main__subsection {
    grid-row: 2;
  }

}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-font-color_semitransparent);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-font-color);
}

.main__section-link:hover {
  border-bottom: 1px solid var(--section-font-color);
}

.main__section-link:focus {
  outline: none;
  border: 1px solid var(--section-font-color);
}