/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex Mono', monospace;
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  /* position: relative;
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-repeat: no-repeat; */

  width: 100vw;
  height: 100vh;
  color: var(--accent-font-color);
  font-size: var(--font-size);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.header::after {
  content: "";
  display: inline-block;
  border-bottom: 1px solid var(--accent-font-color);
  border-left: 1px solid var(--accent-font-color);
  position: relative;
  width: 1em;
  height: 1em;
  margin-left: var(--common-padding);
  margin-bottom: var(--common-padding);
}

.header__theme-menu {
  display: flex;
  justify-content: right;
  align-items: end;
  grid-row: 1;
  padding-right: var(--common-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.decor-element {
  position: absolute; 
  top: var(--common-padding); 
  right: var(--common-padding); 
  padding-right: 0.5em;
}

.decor-element::after {
    content: "";
    display: inline-block;
    margin-left: 0.1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%; /* This creates the ellipse shape */
    background-color: var(--accent-font-color); /* Background color of the ellipse */
    box-shadow: 0px 0px 4px 2px var(--accent-font-color);
    margin-bottom: 0.1em;
}

.decor-element::before {
  content: "";
  display: inline-block;
  left: 2.8em;
  border-top: 1px solid var(--accent-font-color);
  border-right: 1px solid var(--accent-font-color);
  position: relative;
  width: 1em;
  height: 1em;
}

.header__title {
  font-weight: bold;
  line-height: 0.9em;
  color: var(--header-color);
  font-size: var(--font-title-size);
  text-shadow: 0.03em 0.03em 0 var(--header-shadow); /* horizontal offset, vertical offset, blur radius, shadow color */
}
.title-decor {
  margin-left: var(--common-padding);
  margin-right: var(--common-padding);
  height: fit-content;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--accent-font-color);
}

.main__section {
  display: grid;
  gap: 1em;
}

.main__section-title {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--accent-font-color);
  padding-left: var(--common-padding);
  padding-right: var(--common-padding);
}

.main__subsection {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.main__section-text { 
  font-size: var(--font-size);
  color: var(--section-font-color);
  padding-left: var(--common-padding);
  padding-right: var(--common-padding);
}