/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --common-padding: clamp(0.625rem, 0.029rem + 2.545vw, 1.25rem);
  --accent-font-color: #FF0070;
  --accent-font-color_semitransparent: rgba(255, 0, 112, 0.4);
  --accent-text_background-color: #FF0070;
  --font-color: #000000;
  --font-size: 1.125rem;
  --font-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-color: #DB00FF;
  --header-shadow: #FF0070;
  --section-font-color: #F1B2CE;
  --subsection-padding: 1em;
  --section-padding: 1em;
  --backgroung-path: url(../images/cover-image-dark.png);
  --decor_elem_display: inline-block;
  --page-background-color: #000000;
  --nav-padding: 1rem;
}

